# Ignore everything
*

# Don't ignore these
!*/
!/readme.md
!/.gitignore

!Server/src/**/*.cpp
!Server/includes/**/*.h
!Server/config.ini
!Server/Server/*.*
!Server/Server/Server.exe

!Client/include/**/*.h
!Client/src/**/*.cpp
!Client/config.ini
!Client/Client/*.*
!Client/Client/Client.exe