# Ignore everything
*

# Don't ignore these
!*/
!/readme.md
!/.gitignore

!Server/src/**/*.cpp
!Server/includes/**/*.h
!Server/config.ini
!Server/Server/*.*
!Server/Run-Release.bat
!Server/Server/Release/Server.exe

!Client/include/**/*.h
!Client/src/**/*.cpp
!Client/config.ini
!Client/Client/*.*
!Client/Run-Release.bat
!Client/Client/Release/Client.exe